<h3 class="ui header">{{t "forms.i-i-s-123-план-закупок-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.номер
      class=(if (v-get validationModel "номер" "isInvalid") "error")
      label=(t "forms.i-i-s-123-план-закупок-e.номер-caption")
      data-test-i-i-s-123-план-закупок-e-номер=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "номер" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-123-план-закупок-e.датаНачала-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаНачала
      class=(if (v-get validationModel "датаНачала" "isInvalid") "error")
      data-test-i-i-s-123-план-закупок-e-датаНачала=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаНачала" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-123-план-закупок-e.склады-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.склады
      displayAttributeName="склад"
      autocomplete=true
      relationName="склады"
      projection="СкладыL"
      title=(t "forms.i-i-s-123-план-закупок-e.склады-caption")
      readonly=readonly
      componentName="складыLookup"
      class=(if (v-get validationModel "склады" "isInvalid") "error")
      data-test-i-i-s-123-план-закупок-e-склады=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "склады" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-123-план-закупок-e.организации-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.организации
      displayAttributeName="организация"
      autocomplete=true
      relationName="организации"
      projection="ОрганизацииL"
      title=(t "forms.i-i-s-123-план-закупок-e.организации-caption")
      readonly=readonly
      componentName="организацииLookup"
      class=(if (v-get validationModel "организации" "isInvalid") "error")
      data-test-i-i-s-123-план-закупок-e-организации=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "организации" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-123-план-закупок-e.контрагенты-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.контрагенты
      displayAttributeName="контрагент"
      autocomplete=true
      relationName="контрагенты"
      projection="КонтрагентыL"
      title=(t "forms.i-i-s-123-план-закупок-e.контрагенты-caption")
      readonly=readonly
      componentName="контрагентыLookup"
      class=(if (v-get validationModel "контрагенты" "isInvalid") "error")
      data-test-i-i-s-123-план-закупок-e-контрагенты=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "контрагенты" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-123-план-закупок-e.план-caption"}}</label>
    {{flexberry-groupedit
      componentName="планGroupEdit"
      mainModelProjection=modelProjection
      modelProjection=modelProjection.attributes.план
      content=model.план
      readonly=readonly
      orderable=false
      class=(if (v-get validationModel "план" "isInvalid") "error")
      data-test-i-i-s-123-план-закупок-e-план=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "план" "message")}}
  </div>
</form>
